<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-menu-button slot = "start"></ion-menu-button>
    <ion-title>Alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="abrirAlert()">Clique Aqui</ion-button>
  Seu nome é {{nome}}

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side ="start">
      <ion-fab-button (click)="apresentarActionSheet()">
        <ion-icon name = "list"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>