<ion-header [translucent] = "true">
  <ion-toolbar color="primary">  
    <ion-menu-button slot="start"></ion-menu-button> 
    <ion-title>Refresh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let v of vetor | slice: 0:fim">
    <ion-item>{{v}}</ion-item>
  </ion-list>
  <ion-refresher slot="fixed" (ionInfinite)="rolagem($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Arraste para atualizar"
      refresingSpinner="circles"
      refresingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
